altgraph==0.17.3
blessed==1.20.0
inquirer==3.1.3
printy==2.2.0
pyfiglet==0.8.post1
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
python-editor==1.0.4
readchar==4.0.5
six==1.16.0
termcolor==2.2.0
wcwidth==0.2.6
yaspin==2.3.0
